*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole comuni */
main{
    display: flex;
    height: calc(100vh - 85px);
}

body{
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic, sans-serif;
}

.title{
    color: white;
    padding: 10px;
}

.card .subtitle{
    color: gray;
    text-align: center;
}

.subtitle{
    color: gray;
    padding: 0px 10px;
}

.card img{
    width:100%;
}

.rounded{
    border-radius: 50%;
}

.rounded img{
    width:100%;
    background-size: cover;
    border-radius: 50%;
}

/* sidebar */
.sidebar{
        
    width: 230px;
    height: calc(100vh - 85px);
    background: black;
    flex-shrink: 0; /* permette di non ridimensionare la sidebar, controllare */
    min-height: 400px;
    overflow: hidden;
    
}

.sidebar img{
    width: 10px;
}

.logo-spotify{
    display: flex;
    padding: 0 10px;
    height: 80px;
    flex-shrink: 0;
    align-items: center;
}
.logo-spotify img{
    width: 20px;
}

.plus i{
    margin-right: 10px;
}

.sidebar li{
    color: gray;
    font-size: 10px;
    padding: 10px;
    
}
.sidebar ul{
    margin-top: 7px;
}

.no-active{
    border-left: 3px solid transparent;
}



.active{
    border-left: 3px solid greenyellow;
}
.sidebar a{
    color: gray;
    margin-right: 10px;
    text-decoration: none;
}

.sidebar .plus{
    margin-left: 10px;
}

.sidebar span{
    font-size: 10px;
}

.bottom-side{
    height: 80px;
    padding: 10px;
    height: 80px;
}
.bottom-side hr{
    width:80%;
    margin: 10px 0px 10px 10px;
    
}
.top-side{
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
}

.playlist{
    display: flex;
    flex-direction: column;
    
    overflow: hidden;
}

.playlist ul{
    overflow-y: auto;
}



/* main content */
.main-container{
    
    
    
    max-width: calc(100vw - 230px);
    height: calc(100vh - 85px);
    background: white;
    overflow: scroll;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 85px;
    
    
    
}

.top{
    height: 85px;
    max-width: 100%;
    background-color:  rgba(10, 11, 15, 0.9);
    position: fixed;
    top: 0;
    width: 100%;
    
    
}

.top button a{
    color:white;
    padding: 10px 5px;
    font-size: 10px;
    text-decoration: none;
    margin: 5px 0px;
}
.top button{
    width: 170px;
    height: 30px;
    border-radius: 20px;
    background-color:  rgba(9, 11, 15, 0.9);
    border: 1px solid white;
    position: relative;
    left:70%;
    top:30%;
    
    

}

.main-menu li{
    display: inline-block;
    margin: 0px 10px;
    font-size: 10px;
    text-decoration: none;
    color: gray;
    
    
}

.main-menu li:hover{        /*hover main-menu navbar*/
    border-bottom: 3px solid greenyellow ;
    color: white;
    cursor: default;
}

.main-menu ul{
    text-align: center;
}

.main-menu{
    height: 60px;
    background-color: rgb(17, 19, 25);
}

.recently-title{
    height: 60px;
    background-color: rgb(17, 19, 25);
}

.album-1, .album-2 ,.album-3{
    
    background-color: rgb(16, 19, 25);
    display: flex;
    flex-wrap: wrap; 
}

.card{
    width: calc(90% / 6);
    margin-left: calc(5% / 6);
    margin-right: calc(5% / 6);
    height: 100%;
    background-color: rgb(17, 19, 25);
    position: relative;
}

.card .title{
    text-align: center;
}

.doe, .artist{
    height: 80px;
    background-color: rgb(17, 19, 25);
}

/*footer*/
footer{
    display: flex;
    height: 85px;
}

.footer-sx , .footer-rx{
    width: 25%;
    background-color: rgb(30, 30, 30);
    display: flex;
}

.footer-rx{
    align-items: center;
}

.footer-rx li{
    display: inline-block;
    margin: 20px 10px;
    font-size: 10px;
    text-decoration: none;
    
}

.footer-rx .time-2{
    width: 90px;
    margin-top: 27px;
}

.footer-rx .time-1{
    margin-top: 27px;
}



.footer-rx li a{
    color: white;
}

.footer-center{
    width: 50%;
    background-color: rgb(30, 30, 30);
}

.audio-play{
    height: 50%;
}

.audio-play li{
    display: inline-block;
    margin: 20px 10px;
    font-size: 10px;
    text-decoration: none;
    
}

.audio-play li a{
    color: white;
    
}

.audio-play ul{
    text-align: center;
    margin: auto 0;
}

.time-song{
    height: 50%;
    display: flex;
    justify-content: center;
}

.time-song .title{
    font-size: 8px;
}

.time-1{
    width:60px;
    border-bottom: 2px solid lightgray;
    margin-bottom: 27px;
}

.time-2{
    width:160px;
    border-bottom: 2px solid darkgray;
    margin-bottom: 27px;
}

.img-footer-sx img{
    width: 70%;
    height: 70%;
    margin:15%;
    
    
    
    
}

.img-footer-sx{
    width:30%;
   
}

.name-audio{
    margin: auto 0;
}

.preferiti a{
    color: lightgray;
    text-decoration: none;
    line-height: 85px;
    margin-left: 10px;
    
}

/*media query*/

@media all and (max-width: 992px ){
    .card{
        width: calc(90% / 4);
    margin-left: calc(5% / 4);
    margin-right: calc(5% / 4);
    }
}

@media all and (max-width: 768px ){
    .card{
        width: calc(90% / 2);
    margin-left: calc(5% / 2);
    margin-right: calc(5% / 2);
    }
}

@media all and (max-width: 576px ){
    .sidebar{
        width: 70px;
    }

    .main-container{
        width: calc(100% - 70px);
    }

    .playlist{
        display: none;
    }

    .sidebar span{
        display: none;
    }

    

    .sidebar i {
        display: block;
    }

    .logo-spotify h2{
        display: none;
    }
}
   


/*overlay
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 181.2px;
    height: 181.2px;
    background-color: rgba(0,0,0,0.1);
    z-index: 1;
    display: none;
}

.overlay img{
    display: block;
    z-index: 2;
}

.overlay:hover{
    display: block;
} 
  ho dato 100% invece di px ma sparisce img*/

  /*hover effects*/
  
.sidebar .menu-side li span:hover{
    
    color: white;
    cursor: default;
}

.sidebar .menu-side li a:hover{
    color: white;
    cursor: default;
}

footer .name-audio .subtitle:hover{
    color: white;
    cursor: default;
}

footer .preferiti a:hover{
    color: white;
    cursor: default;
} 

.playlist ul:hover{  /*hover playlist ?????*/
    color: white;
    cursor: default;
}

.time-1:hover{
    border-bottom:2px solid white;
    cursor: default;
}

.play-hover{
    color: white;
    font-size: 35px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    
    
    background-color: transparent;
    text-align: center;
    
    line-height: 111px;
    
    
    
    
}

.overlay{
    position: relative;
}

.play-hover:hover{
    background-color: rgba(10, 11, 15, 0.6);
}


.play-hover span{     /*trovare modo per dare altezza a play hover altrimenti non riesco a centrare*/
    
    width: 100%;
    height: 100%;
    color: transparent;
    line-height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.play-hover span:hover{
    color: white;
}